body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}main {
    padding: 20px;
}.Profile {
    margin-bottom: 20px;
}.HSC{
    font-weight: 500;
    font-size: larger;
}.Avatar {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}.Name {
    position: absolute;
    text-align: center;
    font-weight: bold;
    top: 20%;
    left: 40%;
    transform: translate(-50%, -50%);
}.bio {
    text-align: center;
    color: #94A3B8;
    position: absolute;
    top: 25%;
    left: 47%;
    transform: translate(-50%, -50%);
}.navbar {
    position: fixed;
    top: 0%;
    right: 0%;
    padding: 10px;
}.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}.navbar ul li {
    display: inline;
    margin-right: 10px;
}.navbar ul li a {
    color: #000;
    text-decoration: none;
}.Button {
    text-align: center;
    position: absolute;
    top: 40%;
    left: 45%;
    border: 0 2px #A5B4FC;
    transform: translate(-50%, -50%);
    font-weight: 700;
}.Button button {
    background-color: #fff;
    color: #000;
    cursor: pointer;
    border: 1px solid #94A3B8;
    margin: 0 10px;
    border-radius: 50px;
    padding: 10px 20px;
    font-size: 16px;
}.Button button:hover {
    background-color: #A5B4FC;
    color: #fff;
}.FollowerS h1 {
    font-weight: bold;
}.FollowerS #FollowersList {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}.FollowerS button {
    background-color: #fff;
    color: #000;
    cursor: pointer;
    border: 1px solid #94A3B8;
    margin: 0 10px;
    border-radius: 50px;
    padding: 10px 20px;
    font-size: 16px;
}.FollowerS button:hover {
    background-color: #A5B4FC;
    color: #fff;
}.Follower img {
    width: 100px;
}
.Rights{
    font-weight: 700;
}
.MoreFollowers{
    text-align: center;
    position: relative;
    left: 50%;
    border: 0 2px #A5B4FC;
    transform: translate(-50%, -50%);
    font-weight: 700;
}
.MoreFollowers button{
    background-color: #fff;
    color: #000;
    cursor: pointer;
    border: 1px solid #94A3B8;
    margin: 0 10px;
    border-radius: 50px;
    padding: 10px 20px;
    font-size: 16px;
}
.MoreFollowers button:hover{
    background-color: #A5B4FC;
    color: #fff;
} 
/* --------------PARA APARELHOS MÓVEIS------------------------
                @media(max-width:720px) {
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }main {
        padding: 20px;
    }.Title{
        margin-left: 20px;
    }.Profile {
        margin-bottom: 20px;
    }.Avatar {
        width: 300px;
        border-radius: 50%;
    }.Name {
        text-align: center;
        font-weight: bold;
        position: absolute;
        top: 20%;
        left: 40%;
        transform: translate(-50%, -50%);
    }.bio {
        text-align: center;
        color: #94A3B8;
        position: absolute;
        top: 25%;
        left: 47%;
        transform: translate(-50%, -50%);
    }.navbar {
        position: fixed;
        top: 0;
        right: 0;
        padding: 10px;
    }.navbar ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }.navbar ul li {
        display: inline;
        margin-right: 10px;
    }.navbar ul li a {
        color: #000;
        text-decoration: none;
    }.Button {
        text-align: center;
        position: absolute;
        top: 40%;
        left: 45%;
        border: 0 2px #94A3B8;
        transform: translate(-50%, -50%);
    }.Button button {
        cursor: pointer;
        margin: 0 10px;
        background-color: #fff;
        color: #000;
        border: 1px solid #94A3B8;
        border-radius: 50px;
        padding: 10px 20px;
        font-size: 16px;
    }.Button button:hover {
        background-color: #A5B4FC;
        color: #fff;
    }.FollowerS h1 {
        font-weight: bold;
    }.FollowerS #FollowersList {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }.FollowerS button {
        cursor: pointer;
        background-color: #fff;
        color: #000;
        border: 1px solid #94A3B8;
        border-radius: 50px;
        padding: 10px 20px;
        font-size: 16px;
        margin: 0 10px;
    }.FollowerS button:hover {
        background-color: #A5B4FC;
        color: #fff;
    }.Follower img {
        width: 100px;
    }.Rights{
        margin-left: 45%;
}} */
/* -------------PARA APARELHOS NÃO MÓVEIS---------------  */
            @media(max-width:2000px){
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }main {
        padding: 20px;
    }.Profile {
        margin-bottom: 20px;
    }.Title{
        margin-left: 8%;
    }.Avatar {
        width: 300px;
        border-radius: 50%;
        margin-left: 7%;
    }.Name {
        text-align: center;
        font-weight: bold;
        position: absolute;
        top: 20%;
        left: 40%;
        transform: translate(-50%, -50%);
    }.bio {
        text-align: center;
        color: #94A3B8;
        position: absolute;
        top: 25%;
        left: 47%;
        transform: translate(-50%, -50%);
    }.navbar {
        position: fixed;
        top: 0;
        right: 0;
        padding: 10px;
    }.navbar ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }.navbar ul li {
        display: inline;
        margin-right: 10px;
    }.navbar ul li a {
        text-decoration: none;
        color: #000;
    }.Button {
        text-align: center;
        position: absolute;
        border: 0 2px #94A3B8;
        top: 40%;
        left: 45%;
        transform: translate(-50%, -50%);
    }.Button button {
        cursor: pointer;
        background-color: #fff;
        color: #000;
        border: 1px solid #94A3B8;
        margin: 0 10px;
        border-radius: 50px;
        padding: 10px 20px;
        font-size: 16px;
    }.Button button:hover {
        background-color: #A5B4FC;
        color: #fff;
    }.FollowerS {
        margin-left: 8%;
        margin-right: 8%;
    }.FollowerS h1 {
        font-weight: bold;
    }.FollowerS #FollowersList {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }.FollowerS button {
        cursor: pointer;
        background-color: #fff;
        color: #000;
        border: 1px solid #94A3B8;
        border-radius: 50px;
        padding: 10px 20px;
        font-size: 16px;
        margin: 0 10px;
    }.FollowerS button:hover {
        background-color: #A5B4FC;
        color: #fff;
    }.Follower img {
        width: 100px;
    }}
    .Rights{
        margin-left: 8%;
        margin-right: 8%;
    }
    .FollowerAvatar{
        height: 400px;
        width: 400px;
    }
    .TheFooter {
        position: fixed;
        bottom: 25px;
        right: 25px;
        display: flex;
        gap: 15px;
    }



